.form-group {
  padding: 20px;
  height: 330px;
  width: auto;

  textarea {
    resize: none;
    height: 100%;
  }
}

.form-label {
  display: block;
  width: 90%;
  margin-bottom: 3px;
}

.form-input {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  width: 97%;
  padding: 5px;
  border-radius: 5px;

  &:focus-visible {
    outline: 0 gray solid;
  }
}

.heading {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.content {
  font-size: 14px;
}

.btn {
  margin: 20px 0 10px 10px;
  float: right;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}